{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "mocha": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "describe": true,
    "document": true,
    "it": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "eslint-plugin-html",
      "babel",
      "react",
      "mocha"
  ],
  "rules": {}
}
