.gifbox {
    display: flex;
}

img {
    height: 100%;
    width: 100%;
}

gif-box {
    display: flex;
    justify-content: center;
    height: -webkit-fill-available;
    width: 100%;
    align-items: center;
}
