img {
    height: auto;
    width: auto;
}

.gifbox {
    height: fit-content;
    width: fit-content;
    border: 3px solid darkred;
    display: flex;
}

gif-box {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}
